[submodule "themes/next"]
	path = themes/next
	url = https://github.com/iissnan/hexo-theme-next
[submodule "themes/myTheme"]
	path = themes/myTheme
	url = https://github.com/Davisjy/hexo-theme-next.git
